
@font-face {
  font-family: 'Athletics-Medium';
  src: url('./fonts/Athletics-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Athletics ExtraBold';
  src: url('./fonts/Athletics ExtraBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
    object-fit: cover;
    font-family: 'Athletics-Medium';
  background-image: url("./images/bannerbg.png");
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.fixed-header {
 position: fixed;
 width: 50%;
 left: 25%;
     z-index: 10;
}
/* Banner css */
.BannerHeading h5 {
    font-family: 'Athletics ExtraBold';
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
}
.BannerHeading h3 {
    font-family: 'Athletics ExtraBold';
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}
.BannerHeading h4 {
    font-size: 25px;
    line-height: 35px;
}
button.BtnSite {
    padding: 12px 47px;
    border: 1px solid #fff;
    border-radius: 5px;
}
/* Services */
.Services_card {
    background-color: #fff;
    padding: 15px 35px;
    border-radius: 5px;
    position: relative;
}
.Services_card:before {
    right: 0px;
    content: '';
    position: absolute;
    height: 2%;
    width: 30%;
    background-color: #EE3565;
    top: 0px;
    transition: 0.5s ease-in;
}
.Services_card:after {
    right: 0px;
    content: '';
    position: absolute;
    height: 30%;
    width: 2%;
    background-color: #EE3565;
    top: 0px;
        transition: 0.5s ease-in;

}
.Services_card:hover:after  {
    height: 100%;
}
.Services_card:hover:before  {
    width: 100%;
}
.Services_card:hover .innerDiv:after  {
    height: 110%;
    overflow: hidden;
}
.Services_card:hover .innerDiv:before  {
    width: 138%;
    overflow: hidden;
}
.innerDiv {
    position: relative;
}

.innerDiv:before {
    right: 0px;
    content: '';
    position: absolute;
    height: 2%;
    width: 30%;
    background-color: #EE3565;
    bottom: -15px;
    left:-35px;
        transition: 0.5s ease-in;

}
.innerDiv:after {
    right: 0px;
    content: '';
    position: absolute;
    height: 30%;
    width: 2%;
    background-color: #EE3565;
     bottom: -15px;
    left:-35px;
        transition: 0.5s ease-in;

}
/* marquee */
@keyframes marqueeScroll {
0% {
    transform: translateX(-50%);
}
100% {
    transform: translateX(0%);
}
}

.MarqueeLine {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.MarqueeLine ul {
  display: flex;
  align-items: center;
  gap: 3rem; /* spacing between logos */
  width: max-content;
      animation: marquee-horizontal-alt 120s 
linear infinite;
 
}

.MarqueeLine li {
  list-style: none;
  flex: 0 0 auto;
}

/* Mission css */
.bg-mission {
      background: linear-gradient(
    to right,
    rgba(238, 53, 101, 0.6),
    rgba(96, 195, 172, 0.6)
  );
      border-radius: 15px;
    padding:75px 15px;
}
.MissionContent.text-white.basis-1\/2 p {
    line-height: 28px;
    font-size: 18px;
        white-space: pre-line;
}
h4.SiteTitle {
    font-size: 35px;
}


/* Testimonial */

.test_card {
    border: .1875rem solid #252552;
    border-radius:.5rem;
    background-color: #fafaff;
        padding: 55px 15px;
}


/* title  */
h2.card-title {
    position: relative;
    display: inline;
}

h2.card-title:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #EE3565;
    bottom: -15px;
}

h2.card-title:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 10%;
    background-color: #60C3AC;
    bottom: -15px;
    left:0px;
    transition: 0.5s ease-in;
}

h2.card-title:hover:after {
    width:100%;
    }


    /* Bubble btn  */
    .Bubble_btn {
    background-color: #fff;
    padding: 10px 43px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s 
ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
}
.Bubble_btn:hover span {
    transform: translateY(0) scale(2);
}
.Bubble_btn:hover span.hover_text {
transform:unset !important;
color:#fff;
}
.Bubble_btn span:nth-child(2) , .Bubble_btn span:nth-child(3) , .Bubble_btn span:nth-child(4) ,.Bubble_btn span:nth-child(5) {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #EE3565;
    /* transform: translateX(400%); */
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
        bottom: -100px;
}
 .Bubble_btn span:nth-child(3),.Bubble_btn span:nth-child(5) {
      background-color: #EE3565;
 }
.Bubble_btn span:nth-child(2) {
    --n: 1;
}

.Bubble_btn span:nth-child(3) {
    --n: 2;
}

.Bubble_btn span:nth-child(4) {
    --n: 3;
}

.Bubble_btn span:nth-child(5) {
    --n: 4;
}
.hover_text {
     position:relative;
     z-index:1030;
}
.Bubble_btn:hover span {
    transform: translateY(0) scale(2);
    bottom: 0px !important;
}
.Bubble_btn:hover span.hover_text {
transform:unset !important;
color:#fff;
}
section.Contact_section .container {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

/* contact */
section.Contact_section .container {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

h4.heading_title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 35px;
}

p.heading_paragraph {
    font-size: 18px;
    line-height: 28px;
    margin: 20px;
}

p.contactEmail {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
}